.infoContainer {
	margin: 15px calc(var(--content-spacer) * 2);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.team-member {
  display: flex;
  padding: 1rem 0;
  gap: 2rem;
}

.team-member:nth-child(2n+1) {
  flex-direction: row-reverse;
  text-align: right;
}

.team-member > img {
  image-rendering: pixelated;
  width: 128px; 
  height: 128px;
  aspect-ratio: 1/1;
  margin: 8px;
  font-size:0px;
  border-radius: 1rem;
  background-color:var(--preview-bg);
}

.team-member h2 {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.team-member:nth-child(2n+1) h2 {
  flex-direction: row-reverse;
}

.team-member p a {
  color: var(--main-accent-color);
}

.team-member-links {
  display: flex;
  gap: 1rem;
}

.team-member-links a {
  display: block;
}

.team-member-links img {
  display: block;
  background-color: var(--main-text-color);
  padding: 2px;
  width: 24px;
  height: 24px;
  border-radius: 16px;
}

.team-member-links span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  font-size: 20px;
}
