/*site-wide CSS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --content-spacer: 135px;
  --module-cards: 8;
}

/* raleway-200 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('../fonts/raleway-v22-latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/raleway-v22-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v22-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v22-latin-200.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v22-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v22-latin-200.svg#Raleway') format('svg'); /* Legacy iOS */
}

/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/raleway-v22-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/raleway-v22-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v22-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v22-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v22-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}

/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/raleway-v22-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/raleway-v22-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v22-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v22-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v22-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v22-latin-700.svg#Raleway') format('svg'); /* Legacy iOS */
}



@media screen and (max-width: 1800px) {
  * {
    --content-spacer: 5vw;
    --module-cards: 7;
  }
}

@media screen and (max-width: 1200px) {
  * {
    --module-cards: 6;
  }
}

@media screen and (max-width: 1024px) {
  * {
    --module-cards: 5;
  }
}

@media screen and (max-width: 768px) {
  * {
    --module-cards: 4;
  }
}

@media screen and (max-width: 600px) {
  * {
    --content-spacer: 30px;
    --module-cards: 3;
  }
}

.dark {
  --main-bg-color: #111111;
  --main-text-color: #DDDDDD;
  --main-accent-color: #4AA0C7;
  --thematic-element-color: #333333;
  --modulecard-bg-top: #2f3441;
  --modulecard-bg-bottom: #212531;
  --preview-bg: #1f2122;
  --preview-shade-bg: #232b2f;
}

.light {
  --main-bg-color: white;
  --main-text-color: black;
  --main-accent-color: #4AA0C7;
  --thematic-element-color: #bfbfbf;
  --modulecard-bg-top: #80b4cc;
  --modulecard-bg-bottom: #5e91a8;
  --preview-bg: #c1ccd1;
  --preview-shade-bg: #b0b7bb;
}

body {
  font-family: Raleway;
  font-variant-numeric: lining-nums;
  font-weight: normal;
  font-size: 18px;
  color: var(--main-accent-color);
  width: 100%;
  overflow-x: hidden;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

p {
  margin: 1em 0;
}

p.small {
  font-size: 0.7em;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.smallButton {
  color: white;
  background-color: var(--main-accent-color);
  padding: 5px;
  border: 0px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

#dataRequestBox {
  position: fixed;
  left: calc(50vw - 160px);
  width: 320px;
  font-size: 12px;
  background-color: var(--preview-bg);
  color: var(--main-text-color);
  border: 1px solid var(--main-text-color);
  border-radius: 5px;
  text-align: center;
  z-index: 2;
  padding-bottom: 20px;
  display: none;
}

/*Header */

header {
  margin: 6px 0;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  flex-shrink: 0;
  color: var(--main-accent-color);
}

header .home {
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-right: 20px;
}

header .home h1 {
  padding: 0 10px;
  font-weight: bold;
  font-size: 38px;
}

@media (max-width: 720px) {
  header .home h1 {
    display: none;
  }
}

header ul {
  display: flex;
  height: 100%;
  list-style: none;
}

header ul li h1{
  font-size:24px;
}

header li>* {
  display: block;
  height: 100%;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}

@media (max-width: 480px) {
  header li>* {
    font-size: 18px;
    padding: 10px 6px;
  }
}

header .home:hover, header li>*:hover {
  box-shadow: 0px -30px 0px -28px var(--main-accent-color) inset;
}

.themeButton {
  width: 32px;
  height: 32px;
  align-self: center;
  margin: 0 15px;
  mask: no-repeat center / contain url(https://gm4.co/images/theme_button.svg);
  -webkit-mask: no-repeat center / contain url(https://gm4.co/images/theme_button.svg);
  background-color: var(--main-text-color);
  opacity: 0.5;
  cursor: pointer;
}

.themeButton:hover {
  opacity: 0.7;
}

/*Footer */

footer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 0 var(--content-spacer);
  border-top: 1px solid var(--thematic-element-color);
  min-height: 120px;
}

p.footer-small {
  font-size: 0.7em;
}
