/*
CSS for the module browse page
*/


@media screen and (max-width: 1800px) {
  * {
    --content-spacer: 5vw;
    --module-cards: 7;
  }
}

@media screen and (max-width: 1200px) {
  * {
    --module-cards: 6;
  }
}

@media screen and (max-width: 1024px) {
  * {
    --module-cards: 5;
  }
}

@media screen and (max-width: 768px) {
  * {
    --module-cards: 4;
  }
}

@media screen and (max-width: 600px) {
  * {
    --content-spacer: 30px;
    --module-cards: 3;
  }
}

/* Landing */

.landing {
  display: flex;
  padding: 40px var(--content-spacer) 20px;
  max-width: 1100px;
  margin: 0 auto;
}

.landingInfo {
  flex: 2;
  margin-right: 20px;
}

.landingLinks {
  flex: 1;
  max-width: 300px;
}

.landingLinks h2 {
  margin-bottom: 1rem;
}

.landingLinks a {
  display: block;
  padding: 0.5rem 1rem;
  margin-bottom: 10px;
  border-radius: 100rem;
  font-weight: bold;
  font-size: 20px;
  box-shadow: 0 1px 6px -3px #000;
  text-decoration: none;
  text-align: center;
}

.landingLinks a:hover {
  box-shadow: inset 300px 0px rgba(0,0,0,0.1);
}

.landingLinks a img {
  margin-right: 10px;
  vertical-align: middle;
  height: 1.5rem;
}

.discordLink {
  color: #ffffff !important;
  background-color: #5865F2;
}

.patreonLink {
  color: #ffffff !important;
  background-color: #FF424D;
}

.githubLink {
  color: #000000 !important;
  background-color: #ffffff;
}

/* Tracks */

.track {
  --offset: 0;
  --item-width: calc((100vw - var(--scrollbar-width, 0) - 2 * var(--track-spacer, 0px)) / var(--visible-items, 1));
  width: 100%;
  position: relative;
  overflow: hidden;
}

.trackContainer {
  position: absolute;
  height: 100%;
  display: flex;
  width: max-content;
  left: calc(var(--track-spacer, 0px) - var(--offset, 0) * var(--item-width) - var(--partial-offset, 0px));
}

.track.transitioning .trackContainer {
  transition: left var(--transition-time) ease;
}

.trackItem {
  position: relative;
  width: var(--item-width);
}

.trackItem.hidden {
  display: none;
}

.trackButton {
  height: 100%;
  width: var(--content-spacer);
  position: absolute;
  top: 0;
  z-index: 1;
  background-size: 30px;
  cursor: pointer;
  background-color: var(--main-bg-color);
  opacity: 0.6;
}

.trackButton.hidden {
  display: none;
}

.trackButton:hover {
  transform: scaleX(1.2);
  opacity: 0.7;
}

.trackButtonLeft {
  left: 0;
}

.trackButtonRight {
  right: 0;
}

.trackButtonLeft::after {
  left: 0;
  mask: url(/images/leftArrow.svg);
  -webkit-mask: url(/images/leftArrow.svg);
}

.trackButtonRight::after {
  right: 0;
  mask: url(/images/rightArrow.svg);
  -webkit-mask: url(/images/rightArrow.svg);
}

.trackButton::after {
  content: '';
  position: absolute;
  width: var(--content-spacer);
  opacity: 1;
  height: 30px;
  top: 50%;
  transform: translateY(-50%);
  mask-size: 30px;
  -webkit-mask-size: 30px;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: var(--main-text-color);
}

/* Slideshow */

.slideshow {
  --visible-items: 1;
  --transition-time: 800ms;
  --item-width: 100vw;
  height: 25vw;
  min-height: 30vh;
  max-height: 40vh;
  flex-shrink: 0;
  background-color: var(--modulecard-bg-bottom);
  box-shadow: inset 0px 0px 48px -8px rgba(0, 0, 0, 1);
}

.slideshow .trackItem {
  width: 100vw;
  flex-direction: column;
  display: flex;
  padding: 10px calc(var(--content-spacer) + var(--scrollbar-width, 0)) 10px var(--content-spacer);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 40px 0 black;
}

.slideshow .trackItem.darken::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #0002;
}

.slideshow .trackItem > * {
  text-shadow: 0px 0px 12px black;
  color: white;
  z-index: 1;
}

.slideshow .trackItem h2 {
  font-size: 32px;
}

.slideshow .trackItem p {
  font-size: 25px;
  margin: 0.5em 0;
}

@media (max-width: 480px) {
  .slideshow .trackItem h2 {
    font-size: 22px;
  }
  
  .slideshow .trackItem p {
    font-size: 16px;
  }
}

.slideshow .trackItem.top-left {
  justify-content: flex-start;
  align-items: flex-start;
}

.slideshow .trackItem.top-right {
  justify-content: flex-start;
  align-items: flex-end;
  text-align: right;
}

.slideshow .trackItem.bottom-left {
  justify-content: flex-end;
  align-items: flex-start;
}

.slideshow .trackItem.bottom-right {
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

.slideshow .trackButton {
  background: none;
  opacity: 1;
}

.moduleNavBar {
  border-bottom: 1px solid var(--thematic-element-color);
  opacity: 0.8;
  padding: 0 var(--content-spacer);
  display: flex;
}

.moduleNavButton {
  padding: 15px;
  cursor: pointer;
}

.moduleNavButton:hover {
  border-bottom: 1px solid var(--main-accent-color);
  color: var(--main-accent-color);
}

.moduleNavButton.active {
  border-bottom: 1px solid var(--main-text-color);
  color: var(--main-text-color);
}

/* Modules */

.moduleView {
  margin-top: -53px;
  padding-top: 53px;
  display: none;
}

.moduleView.active {
  display: block;
}

.categoryTitle {
  margin: 1.4em var(--content-spacer) 0;
}

.categoryLengthText {
  opacity: 0.5;
}

.categoryBar {
  --transition-time: 300ms;
  --visible-items: var(--module-cards);
  --track-spacer: var(--content-spacer);
  width: 100%;
  height: calc(var(--item-width) * 1.2);
  position: relative;
  overflow: hidden;
}

.moduleCard {
  background: linear-gradient(to right bottom, var(--modulecard-bg-top) 50%, var(--modulecard-bg-bottom) 50%);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--main-bg-color);
  cursor: pointer;
  border-radius: 10%;
}

.moduleCard.selected {
  border-color: var(--main-text-color);
}

.moduleCard img {
  border-radius: 10%;
  transition: transform 0.1s;
  height: calc(var(--item-width) * 0.75);
  flex-shrink: 0;
}

.moduleCard::before {
  content: '';
  width: 100%;
  padding-top: 10%;
}

.moduleCard .cardName {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 5px;
  font-size: calc(var(--item-width) * 0.11);
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: capitalize;
  color: var(--modulename-color);
  filter: drop-shadow(0 0 12px black);
}

.moduleCard:hover {
  box-shadow: inset 0px 0px 48px -8px rgba(0, 0, 0, 0.39);
}

.moduleCard:hover img {
  transform: scale(1.04);
}

/* All Modules */

#modules {
  width: 100%;
  flex-wrap: wrap;
  padding-left: var(--content-spacer);
  padding-right: var(--content-spacer);
  --item-width: calc((100vw - var(--scrollbar-width, 0) - 2 * var(--content-spacer, 0px)) / var(--module-cards, 1));
}

#modules.active {
  display: flex;
}

#modules .moduleCard {
  width: var(--item-width);
  height: calc(var(--item-width) * 1.2);
}

.moduleFilter {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
}

.moduleFilter > * {
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  border: 1px solid var(--thematic-element-color);
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 6px 12px;
  width: 233px;
  margin: 24px 2px 12px;
}

select.textSpace option {
  background: var(--main-bg-color);
  color: var(--main-text-color);
}

.a-zCard {
  position: relative;
  background: linear-gradient(to right bottom, var(--modulecard-bg-top) 50%, var(--modulecard-bg-bottom) 50%);
  height: 331px;
  margin-top: 3px;
  width: 233px;
  overflow: hidden;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  transition: 0.1s;
  cursor: pointer;
  border-radius: 20px;
}

.a-zCard:hover {
  box-shadow: inset 0px 0px 48px -8px rgba(0, 0, 0, 0.39);
}

.a-zCard .cardName {
  background-color: var(--modulename-bg);
  color: var(--modulename-color);
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
  padding: 5px;
  text-align: center;
  text-transform: capitalize;
}

.a-zCard img {
  position: absolute;
  left: 41px;
  top: calc(50% - 70px);
  border-radius: 20px;
  transition: 0.1s;
  width: 150px;
  height: 150px;
}

.a-zCard:hover img {
  transform: translateX(-3px);
  transform: translateY(-3px);
  transform: scale(1.03);
}

.moduleCardbg {
  filter: blur(4px);
  -webkit-filter: blur(4px);
  top: 0px !important;
  left: 0px !important;
  border-radius: 0% !important;
}

/* Preview */

.preview {
  width: 100%;
  background-color: var(--preview-bg);
  box-shadow: inset 0px 0px 18px 0px var(--preview-shade-bg);
  padding: 20px var(--content-spacer);
  display: flex;
  align-items: flex-start;
}

.previewMedia {
  flex: 1 1 50%;
  background-color: #CECECE;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
}

.previewInfo {
  flex: 0 1 50%;
  max-width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

.previewInfo h3 {
  text-transform: capitalize;
}

.promo_thumbnail {
  width: 250px;
  height: 250px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  border: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.buttonLink {
  display: block;
  position: relative;
  padding: 10px 10px 10px 50px;
  margin-bottom: 10px;
  color: var(--main-text-color);
  background-color: var(--modulecard-bg-top);
  font-weight: bold;
  text-shadow: 0 0 6px var(--main-bg-color);
  transition: padding 0.2s;
}

.buttonLink::before {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 50%;
  margin-left: 5px;
  transition: left 0.2s;
}

.buttonLink:hover {
  padding: 10px 16px 10px 56px;
}

.buttonLink:hover::before {
  left: 6px;
}

.datapackLink {
  background-color: var(--main-accent-color);
}

.datapackLink::before {
  content: url("/images/datapack.svg");
}

.moreLink::before {
  content: url("/images/rightArrow.svg");
}

.wikiLink {
  padding-left: 10px;
}

.wikiLink:hover {
  padding-left: 16px;
}

@media screen and (max-width: 768px) {
  .landing {
    flex-direction: column;
  }

  .landingInfo {
    margin-right: unset;
  }

  .landingLinks {
    margin-top: 20px;
    max-width: unset;
  }

  .preview {
    flex-direction: column-reverse;
    align-items: stretch;
  }

  .previewInfo {
    margin-left: 0;
    margin-bottom: 10px;
  }
}

/* Other */

.smallButton {
  color: white;
  background-color: var(--main-accent-color);
  padding: 5px;
  border: 0px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

#dataRequestBox {
  position: fixed;
  left: calc(50vw - 160px);
  width: 320px;
  font-size: 12pxt;
  background-color: var(--preview-bg);
  color: var(--main-text-color);
  border: 1px solid var(--main-text-color);
  border-radius: 5px;
  text-align: center;
  z-index: 2;
  padding-bottom: 20px;
  display: none;
}
