/*
CSS for the module browse page
*/

/* Landing */

.landing {
  display: flex;
  padding: 40px var(--content-spacer) 20px;
  max-width: 1100px;
  margin: 0 auto;
}

.landingInfo {
  flex: 2;
  margin-right: 20px;
}

.landingLinks {
  flex: 1;
  max-width: 300px;
}

.landingLinks h2 {
  margin-bottom: 1rem;
}

.discordLink {
  color: #ffffff !important;
  background-color: #5865F2;
}

.patreonLink {
  color: #ffffff !important;
  background-color: #FF424D;
}

.githubLink {
  color: #000000 !important;
  background-color: #ffffff;
}

/* Supporters */
.supporters {
  padding: 0 var(--content-spacer) 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.supporters-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5px;
}

.supporters img {
  image-rendering: pixelated;
  width: 48px;
  height: 48px;
  border-radius: 1rem;
  margin: 4px;
  background-color:var(--preview-bg);
  font-size:0px;
}

/* Tracks */

.track {
  --offset: 0;
  --item-width: calc((100vw - var(--scrollbar-width, 0) - 2 * var(--track-spacer, 0px)) / var(--visible-items, 1));
  width: 100%;
  position: relative;
  overflow: hidden;
}

.trackContainer {
  position: absolute;
  height: 100%;
  display: flex;
  width: max-content;
  left: calc(var(--track-spacer, 0px) - var(--offset, 0) * var(--item-width) - var(--partial-offset, 0px));
}

.track.transitioning .trackContainer {
  transition: left var(--transition-time) ease;
}

.trackItem {
  position: relative;
  width: var(--item-width);
}

.trackItem.hidden {
  display: none;
}

.trackButton {
  height: 100%;
  width: var(--content-spacer);
  position: absolute;
  top: 0;
  z-index: 1;
  background-size: 30px;
  cursor: pointer;
  background-color: var(--main-bg-color);
  opacity: 0.6;
}

.trackButton.hidden {
  display: none;
}

.trackButton:hover {
  transform: scaleX(1.2);
  opacity: 0.7;
}

.trackButtonLeft {
  left: 0;
}

.trackButtonRight {
  right: 0;
}

.trackButtonLeft::after {
  left: 0;
  mask: url(/images/leftArrow.svg);
  -webkit-mask: url(/images/leftArrow.svg);
}

.trackButtonRight::after {
  right: 0;
  mask: url(/images/rightArrow.svg);
  -webkit-mask: url(/images/rightArrow.svg);
}

.trackButton::after {
  content: '';
  position: absolute;
  width: var(--content-spacer);
  opacity: 1;
  height: 30px;
  top: 50%;
  transform: translateY(-50%);
  mask-size: 30px;
  -webkit-mask-size: 30px;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: var(--main-text-color);
}

/* Slideshow */

.slideshow {
  --main-text-color: #DDDDDD;
  --visible-items: 1;
  --transition-time: 800ms;
  --item-width: 100vw;
  height: 25vw;
  min-height: 30vh;
  max-height: 40vh;
  flex-shrink: 0;
  background-color: var(--modulecard-bg-bottom);
  box-shadow: inset 0px 0px 48px -8px rgba(0, 0, 0, 1);
}

.slideshow .trackItem {
  width: 100vw;
  flex-direction: column;
  display: flex;
  padding: 10px calc(var(--content-spacer) + var(--scrollbar-width, 0)) 10px var(--content-spacer);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 40px 0 black;
}

.slideshow .trackItem.darken::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #0002;
}

.slideshow .trackItem > * {
  text-shadow: 0px 0px 12px black;
  color: white;
  z-index: 1;
}

.slideshow .trackItem h2 {
  font-size: 32px;
}

.slideshow .trackItem p {
  font-size: 25px;
  margin: 0.5em 0;
}

@media (max-width: 480px) {
  .slideshow .trackItem h2 {
    font-size: 22px;
  }
  
  .slideshow .trackItem p {
    font-size: 16px;
  }
}

.slideshow .trackItem.top-left {
  justify-content: flex-start;
  align-items: flex-start;
}

.slideshow .trackItem.top-right {
  justify-content: flex-start;
  align-items: flex-end;
  text-align: right;
}

.slideshow .trackItem.bottom-left {
  justify-content: flex-end;
  align-items: flex-start;
}

.slideshow .trackItem.bottom-right {
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

.slideshow .trackButton {
  background: none;
  opacity: 1;
}

.moduleNavBar {
  border-bottom: 1px solid var(--thematic-element-color);
  opacity: 0.8;
  padding: 0 var(--content-spacer);
  display: flex;
}

.moduleNavButton {
  padding: 15px;
  cursor: pointer;
}

.moduleNavButton:hover {
  border-bottom: 1px solid var(--main-accent-color);
  color: var(--main-accent-color);
}

.moduleNavButton.active {
  border-bottom: 1px solid var(--main-text-color);
  color: var(--main-text-color);
}

/* Modules */

.moduleView {
  margin-top: -53px;
  padding-top: 53px;
  display: none;
}

.moduleView.active {
  display: block;
}

.categoryTitle {
  margin: 1.4em var(--content-spacer) 0;
}

.categoryLengthText {
  opacity: 0.5;
}

.categoryBar {
  --transition-time: 300ms;
  --visible-items: var(--module-cards);
  --track-spacer: var(--content-spacer);
  width: 100%;
  height: calc(var(--item-width) * 1.2);
  position: relative;
  overflow: hidden;
}

.moduleCard {
  background: linear-gradient(to right bottom, var(--modulecard-bg-top) 50%, var(--modulecard-bg-bottom) 50%);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--track-bg, var(--main-bg-color));
  cursor: pointer;
  border-radius: 10%;
}

.moduleCard.included {
  border-color: var(--selection-color);
}

.moduleCard.selected {
  border-color: var(--main-text-color);
}

.moduleCard img {
  background-color:#c1ccd1;
  font-size:0px;
  border-radius: 10%;
  transition: transform 0.1s;
  height: calc(var(--item-width) * 0.75);
  width: auto;
  flex-shrink: 0;
}

.moduleCard::before {
  content: '';
  width: 100%;
  padding-top: 10%;
}

.moduleCard .cardName {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 5px;
  font-size: calc(var(--item-width) * 0.11);
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
  filter: drop-shadow(0 0 12px black);
}

.moduleCard.included .cardName {
  color: var(--selection-color);
}

.moduleCard:hover {
  box-shadow: inset 0px 0px 48px -8px rgba(0, 0, 0, 0.39);
}

.moduleCard:hover img {
  transform: scale(1.04);
}

.moduleCard .cardSelect,
.moduleCard .cardSelected {
  position: absolute;
  top: 4px;
  left: 4px;
  padding-right: 12px;
  padding-bottom: 12px;
  fill: var(--selection-color);
  opacity: 0.3;
  transition: opacity 0.2s;
}

.moduleCard .cardSelected {
  pointer-events: none;
  opacity: 0;
}

.moduleCard .cardSelect:hover {
  opacity: 0;
}

.moduleCard .cardSelect:hover + .cardSelected {
  opacity: 0.5;
}

.moduleCard.included .cardSelect {
  opacity: 0;
}

.moduleCard.included .cardSelect + .cardSelected {
  opacity: 1;
  fill: var(--selection-color);
}

/* All Modules */

#modules {
  width: 100%;
  flex-wrap: wrap;
  padding-left: var(--content-spacer);
  padding-right: var(--content-spacer);
  --item-width: calc((100vw - var(--scrollbar-width, 0) - 2 * var(--content-spacer, 0px)) / var(--module-cards, 1) - 1px);
}

#modules.active {
  display: flex;
}

#modules .moduleCard {
  width: var(--item-width);
  height: calc(var(--item-width) * 1.2);
}

.moduleFilter {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 24px 0 12px;
}

.moduleFilter > * {
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  border: 1px solid var(--thematic-element-color);
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 6px 12px;
  width: 233px;
  margin: 2px;
}

#modules .wrongVersion,
#modules .wrongFilter {
  display: none
}

/* Module selection */

.moduleSelection {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 2;
  display: none;
  flex-direction: column;
  padding: 12px 20px;
  background-color: var(--preview-bg);
  border-radius: 10px;
  border: 2px solid var(--selection-color);
  box-shadow: 0 1px 7px -1px #000;
}

.moduleSelection.active {
  display: flex;
}

.moduleSelection .selectionHead {
  display: flex;
}

.moduleSelection .selectionCount {
  opacity: 0.5;
}

.moduleSelection .moduleList {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow-y: scroll;
}

.moduleSelection .moduleRow {
  margin: 4px;
  display: flex;
}

.moduleSelection.collapsed .moduleList {
  display: none;
}

.moduleSelection button {
  background: none;
  border: none;
  fill: var(--main-text-color); 
  margin-left: auto;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s;

}

.moduleSelection button:hover {
  opacity: 1;
}

.moduleSelection a {
  cursor: pointer;
}

/* Preview */

.preview {
  width: 100%;
  background-color: var(--preview-bg);
  box-shadow: inset 0px 0px 18px 0px var(--preview-shade-bg);
  padding: 20px var(--content-spacer);
  display: flex;
  align-items: flex-start;
}

.previewMedia {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  min-width: 300px;
  max-width: 50vh;
}

.previewMedia img {
  min-width: 300px;
  max-width: 50vh;
}

.previewInfo {
  flex: 0 1 50%;
  min-width: 390px;
  max-width: 50vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.promoVideo {
  display: block;
  position: relative;
}

.promoVideo::after {
  content: url(/images/play.svg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  pointer-events: none;
}

.promoVideo img {
  display: block;
  filter: blur(3px);
}

.datapackLink {
  color: var(--main-text-color) !important;
  background-color: var(--main-accent-color);
}

.moreLink, .wikiLink, .videoLink {
  color: var(--main-text-color) !important;
  background-color: var(--modulecard-bg-top);
}

@media screen and (max-width: 768px) {
  .landing {
    flex-direction: column;
  }

  .landingInfo {
    margin-right: unset;
  }

  .landingLinks {
    margin-top: 20px;
    max-width: unset;
  }

  .preview {
    flex-direction: column-reverse;
    align-items: stretch;
  }

  .previewMedia {
    min-width: unset;
    max-width: unset;
  }

  .previewInfo {
    margin-left: 0;
    margin-bottom: 10px;
    min-width: unset;
    max-width: calc(100vw - 2 * var(--content-spacer));
  }
}

@media screen and (max-width: 420px) {
  .previewInfo .squircleLink {
    font-size: 16px;
  }
}
