/* Tracks */

.track {
  --offset: 0;
  --item-width: calc((100vw - var(--scrollbar-width, 0) - 2 * var(--track-spacer, 0px)) / var(--visible-items, 1));
  width: 100%;
  position: relative;
  overflow: hidden;
}

.trackContainer {
  position: absolute;
  height: 100%;
  display: flex;
  width: max-content;
  left: calc(var(--track-spacer, 0px) - var(--offset, 0) * var(--item-width) - var(--partial-offset, 0px));
}

.track.transitioning .trackContainer {
  transition: left var(--transition-time) ease;
}

.trackItem {
  position: relative;
  width: var(--item-width);
}

.trackItem.hidden {
  display: none;
}

.trackButton {
  height: 100%;
  width: var(--content-spacer);
  position: absolute;
  top: 0;
  z-index: 1;
  background-size: 30px;
  cursor: pointer;
  background-color: var(--main-bg-color);
  opacity: 0.6;
}

.trackButton.hidden {
  display: none;
}

.trackButton:hover {
  transform: scaleX(1.2);
  opacity: 0.7;
}

.trackButtonLeft {
  left: 0;
}

.trackButtonRight {
  right: 0;
}

.trackButtonLeft::after {
  left: 0;
  mask: url(https://gm4.co/images/leftArrow.svg);
  -webkit-mask: url(https://gm4.co/images/leftArrow.svg);
}

.trackButtonRight::after {
  right: 0;
  mask: url(https://gm4.co/images/rightArrow.svg);
  -webkit-mask: url(https://gm4.co/images/rightArrow.svg);
}

.trackButton::after {
  content: '';
  position: absolute;
  width: var(--content-spacer);
  opacity: 1;
  height: 30px;
  top: 50%;
  transform: translateY(-50%);
  mask-size: 30px;
  -webkit-mask-size: 30px;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: var(--main-text-color);
}


/* Slideshow */

.slideshow {
  --main-text-color: #DDDDDD;
  --visible-items: 1;
  --transition-time: 800ms;
  --item-width: 100vw;
  height: 25vw;
  min-height: 30vh;
  max-height: 40vh;
  flex-shrink: 0;
  background-color: var(--modulecard-bg-bottom);
  box-shadow: inset 0px 0px 48px -8px rgba(0, 0, 0, 1);
}

.slideshow .trackItem {
  width: 100vw;
  flex-direction: column;
  display: flex;
  padding: 10px calc(var(--content-spacer) + var(--scrollbar-width, 0)) 10px var(--content-spacer);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 40px 0 black;
}

.slideshow .trackItem.darken::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #0002;
}

.slideshow .trackItem > * {
  text-shadow: 0px 0px 12px black;
  color: white;
  z-index: 1;
}

.slideshow .trackItem h2 {
  font-size: 32px;
}

.slideshow .trackItem p {
  font-size: 25px;
  margin: 0.5em 0;
}

@media (max-width: 480px) {
  .slideshow .trackItem h2 {
    font-size: 22px;
  }
  
  .slideshow .trackItem p {
    font-size: 16px;
  }
}

.slideshow .trackItem.top-left {
  justify-content: flex-start;
  align-items: flex-start;
}

.slideshow .trackItem.top-right {
  justify-content: flex-start;
  align-items: flex-end;
  text-align: right;
}

.slideshow .trackItem.bottom-left {
  justify-content: flex-end;
  align-items: flex-start;
}

.slideshow .trackItem.bottom-right {
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

.slideshow .trackButton {
  background: none;
  opacity: 1;
}

/* Landing */

.serverSplash {
  height: 35vw;
  min-height: 40vh;
  max-height: 50vh;
}

.slideshow.serverSplash .trackItem {
	flex-direction: row;
	justify-content: space-evenly;
	padding-right: 100px;
}

.slideshow.serverSplash .trackItem > img {
	transform: scale(0.8);
}

.slideshow.serverSplash .trackItem > div {
	display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slideshow.serverSplash .trackItem h2 {
	text-transform: uppercase;
	font-size: 40px;
}

.infoContainer {
	margin: 15px var(--content-spacer);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.infoContainer h3 {
	display: flex;
	align-items: center;
}

.serverIp {
	margin: 5px 10px;
	padding: 5px 10px;
	background: var(--thematic-element-color);
	border-radius: 6px;
	display: flex;
  align-items: center;
}

.copyButton {
  width: 32px;
  height: 32px;
  margin-left: 15px;
  mask: no-repeat center / contain url(https://gm4.co/images/copy_button.svg);
  -webkit-mask: no-repeat center / contain url(https://gm4.co/images/copy_button.svg);
  background-color: var(--main-text-color);
  opacity: 0.5;
  cursor: pointer;
}

.infoContainer a {
	text-decoration: underline;
	color: var(--main-accent-color);
}
