#header {
  background-color: var(--main-bg-color);
}

footer {
  background-color: var(--main-bg-color);
}

#splash {
  background-image: url(obsolescencesplash.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  position: relative;
  min-height: 150px;
  height: 40vh;
  overflow: hidden;
  text-align: center;
  z-index: -1;
}

#logo {
  width: 80%;
  height: 80%;
  top: 10%;
  max-width: 685px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-image: url(obsolesencetitle.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}

h2 {
  font-weight: normal;
}

.credits {
  font-size: 12pt;
  opacity: 0.5;
}

.poster {
  width: 80%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 50px;
  box-sizing: border-box;
}

.worldVersionInfo {
  text-align: center;
}

.posterPair {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.posterPairBox {
  width: 100%;
  height: 100%;
  float: left;
  box-sizing: border-box;
  padding: 10px;
}

.posterPairBox img {
  width: 100%;
}

@media screen and (min-width: 1000px) {
  .posterPairBox {
    width: 50%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
  }
}

.worldDownloadLink {
  color: var(--main-text-color) !important;
  background-color: var(--main-accent-color);
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.resourcePackDownloadLink, .viewCodeLink {
  color: var(--main-text-color) !important;
  background-color: var(--modulecard-bg-top);
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
